body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: silver;
}

header > div {
  margin-left: 40px;
  font-size: 1.2rem;
}

nav {
  list-style: none;
  display: flex;
}

nav > a {
  color: black;
  margin: 0 32px;
}

main {
  max-width: 800px;
  margin: 120px auto;
}
